body {
    overflow: hidden;
    margin: 0px;
}

iframe {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  
}

@media (max-width: 480px) {
    iframe {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        border: none;
        transform: rotate(-90deg); /* Rotate the iframe vertically */
        transform-origin: left top; /* Set the rotation origin */
    }
  }