@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: century gothic;
    scrollbar-width: thin;
    /* border: solid red; */
    scrollbar-color: #2193B0F7 #DFE9EB; 
    box-sizing: border-box;
  }
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    width: 10px;

  }
  *::-webkit-scrollbar-track {
    background-color: #001417;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 1vw;
    background-color: #2193B0F7;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #082F40;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #082F40;
  }

body { 
    overflow-x: hidden;
    background-color: #001417 !important;
}

canvas {
    display: block;
    position: fixed;
    z-index: -9999;
    
}


nav div ul li h1 {
  scale: 70%;
  color: #8a8a8a !important;
}

/* navbar start */
.navbar-body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    z-index: 990;
  }

.navbar form {
    margin-left: auto;
    justify-content: center;
}

ul ion-icon {
    font-size: 33px;
}

.navbar-nav a {
    position: relative;
    color: white;
}

.navbar-nav a:hover {
    color: #2193B0F7;
}

.navbar-nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #2193B0F7;
    border-radius: 5px;
    transform-origin: right;
    transform: scale(0);
    transition: transform .5s;
}
.navbar-nav a:hover::after {
    transform-origin: left;
    transform: scale(1);
}

.nav-item h1 {
    color: rgb(172, 168, 168);
    font-weight: 100;
}
.btnLogin-popup {
  scale: 80%;
    height: 40px;
    font-size: 1.1em;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: 500;
    transition: .5s;
    border-radius: 50px !important;
}

.btnLogin-popup:hover {
    background: #2193B0F7;
    color: rgb(255, 255, 255);
  }
  .search-position {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
    margin-left: 145px;
  }
  .input-search{
    height: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #22a6b3;
    padding-right: 20px;
    color:#fff;
    padding-left: 20px;
  }
  .input-search::placeholder{
    font-family: arial !important;
    color:rgba(255,255,255,.5);
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    top: 0;
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    border-radius: 25px;
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1200px) {
  .search-position {
    width: fit-content;
  }
.search-box{ 
  height: fit-content;
  position: relative;
  margin-left: 0px;
}
.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #22a6b3;
  padding-right: 40px;
  color:#fff;
}
.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  top: 0;
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  border-radius: 25px;
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}}

 /* navbar end */

 /* Login start */
 .login-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
 }

nav form input {
   background-color: rgb(92, 92, 92) !important;
   color: white;
 }

 nav form button {
  background-color: rgb(34, 34, 34) !important;
}


#feedbackContainer {
  padding-top: 20px;
  background-color: #3866A3 !important;
  height: 250px;
  padding-left: 10px;
}

input[type="search"]::placeholder {
  color: rgb(255, 255, 255); /* Set the color you desire */
}

#openPopupButton {
  color: white !important;
  margin-bottom: 10px;
}

.white {
  fill: white;
}

.navbar-brand {
  margin-left: 2vw;
}

 .hero-img {
  filter: drop-shadow(0 0 10px rgba(27, 160, 255, 0.5));
 }

 .nav-logo {
  filter: drop-shadow(0 0 10px rgba(27, 160, 255, 0.5));
 }

 .shine {
  filter: drop-shadow(0 0 8px rgba(27, 160, 255, 0.9));
 }
 
 .box-glow {
  box-shadow: 0 0 10px 5px rgba(34, 174, 255, 0.5);
 }

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;  
}
.wrapper.active-popup {
    transform: scale(1);
}
.wrapper.active {
    height: 520px;
}
.wrapper .form-box {
    width: 100%;
    padding: 40px;
}
.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translate(0);
}
.wrapper.active .form-box.login {
    transition: none;
    transform: translate(-400px);
}
.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translate(0);
}
.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.wrapper .icon-close:hover{
    background: #e91e63;
}
.form-box h2 {
    font-size: 2em;
    text-align: center;
}
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #082F40;
    margin: 30px 0;
}
.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    padding: o 35px 0 5px;
}
.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    line-height: 57px;
}
.remember-forgot {
    font-size: .9em;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input {
    margin-right: 3px;
}
.remember-forgot a {
    text-decoration: none;
}
.remember-forgot a:hover {
    text-decoration: underline;
}

.login-register {
    font-size: .9em;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a {
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover {
    text-decoration: underline;
}

.social-logo a:hover {
    color: rgb(250, 250, 250);
}
/* Login end */

/* Feedback start */
.feedback-container {
    position: fixed;
    bottom: 30%;
    left: 0px;
    padding: 5px;
    transform: translateY(-50%, -50%);
    white-space: nowrap;
    writing-mode:vertical-lr;
    font-size: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-end-start-radius: 20px;
    z-index: 99;
  }
  .sticky {
    position: fixed;
    bottom: 0;
  }
  .popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s ease, height .5s ease;
    width: 500px;
    padding: 20px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    z-index: 9999;
    display: none;
  }

  .popup-container.active-popup {
    transform: translate(-50%, -50%) scale(1);
  }

  .close-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    z-index: 1;
  }
  .close-button:hover {
    background: #e91e63;
  }
  #feedbackInput {
    width: 100%;
    height: 150px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
    display: none;
  }

  /* Feedback End */

/* footer start */
footer {
    margin-bottom: 0;
    padding-bottom: 0;
    width: 100%;
    backdrop-filter: blur(20px);          
}
ul {
    list-style-type: none;
}

/* footer end */

/* footer start */
footer {
    margin-bottom: 0;
    padding-bottom: 10px;
    backdrop-filter: blur(20px); 
    border-top: 3px solid #004b5df7;         
}
ul {
    list-style-type: none;
}
ul a{
    text-decoration: none;
    color: rgb(45, 178, 255);
}
/* footer end */

/* animation start */

  .animate__animated.animate__bounceInUp {
    --animate-duration: 3s;
  }
  .animate__animated.animate__tada {
    --animate-duration: 3s;
  }

  .animate__animated.animate__swing {
    --animate-duration: 4s;
  }
/* animation end */

.about-page section h2 {
    color: rgb(101, 213, 230);
}

.path {
  stroke-dasharray: 20;
}
/* buttons */

.btn-play a{
    color: #14396A !important;
    font-size: 25px;
    margin-top: 100px;
    margin-bottom: 100px;
   margin-right: 150px !important;

  }

  .btn {
    font-family: 'arial black';
    color: #14396A !important;
    font-size: 14px;
    text-shadow: 2px 1px 0px #7CACDE;
    box-shadow: 1px 1px 1px #BEE2F9;
    padding: 10px 25px;
    border-radius: 10px;
    border: 2px solid #3866A3;
    background: #63B8EE;
    background: linear-gradient(to top, #63B8EE, #468CCF);
    text-decoration: none;
  }

  .btn:hover {
    color: #14396A !important;
    background: #468CCF;
    background: linear-gradient(to top, #468CCF, #64DCEE);
  }
  /* buttons end */

/* CSS for code tutorial*/

.codes{
    margin-top: 10px;
    margin-bottom: 10px;
}

.language-javascript {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-weight: 400;
    text-shadow: none;
    box-sizing: border-box;
    color: #ccc;
    background: none;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    tab-size: 4;
    hyphens: none;
    }
    
    .keyword {
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
        --blue: #007bff;
        --indigo: #6610f2;
        --purple: #6f42c1;
        --pink: #e83e8c;
        --red: #dc3545;
        --orange: #fd7e14;
        --yellow: #ffc107;
        --green: #28a745;
        --teal: #20c997;
        --cyan: #17a2b8;
        --white: #fff;
        --gray: #6c757d;
        --gray-dark: #343a40;
        --primary: #007bff;
        --secondary: #6c757d;
        --success: #28a745;
        --info: #17a2b8;
        --warning: #ffc107;
        --danger: #dc3545;
        --light: #f8f9fa;
        --dark: #343a40;
        --breakpoint-xs: 0;
        --breakpoint-sm: 576px;
        --breakpoint-md: 768px;
        --breakpoint-lg: 992px;
        --breakpoint-xl: 1200px;
        --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
        font-weight: 400;
        text-shadow: none;
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        font-size: 1em;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        line-height: 1.5;
        tab-size: 4;
        hyphens: none;
        box-sizing: border-box;
        color: #cc99cd;
    }
    
    .operator{
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
        --blue: #007bff;
        --indigo: #6610f2;
        --purple: #6f42c1;
        --pink: #e83e8c;
        --red: #dc3545;
        --orange: #fd7e14;
        --yellow: #ffc107;
        --green: #28a745;
        --teal: #20c997;
        --cyan: #17a2b8;
        --white: #fff;
        --gray: #6c757d;
        --gray-dark: #343a40;
        --primary: #007bff;
        --secondary: #6c757d;
        --success: #28a745;
        --info: #17a2b8;
        --warning: #ffc107;
        --danger: #dc3545;
        --light: #f8f9fa;
        --dark: #343a40;
        --breakpoint-xs: 0;
        --breakpoint-sm: 576px;
        --breakpoint-md: 768px;
        --breakpoint-lg: 992px;
        --breakpoint-xl: 1200px;
        --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
        font-weight: 400;
        text-shadow: none;
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        font-size: 1em;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        line-height: 1.5;
        tab-size: 4;
        hyphens: none;
        box-sizing: border-box;
        color: #67cdcc;
    }
    
    .number {
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
        --blue: #007bff;
        --indigo: #6610f2;
        --purple: #6f42c1;
        --pink: #e83e8c;
        --red: #dc3545;
        --orange: #fd7e14;
        --yellow: #ffc107;
        --green: #28a745;
        --teal: #20c997;
        --cyan: #17a2b8;
        --white: #fff;
        --gray: #6c757d;
        --gray-dark: #343a40;
        --primary: #007bff;
        --secondary: #6c757d;
        --success: #28a745;
        --info: #17a2b8;
        --warning: #ffc107;
        --danger: #dc3545;
        --light: #f8f9fa;
        --dark: #343a40;
        --breakpoint-xs: 0;
        --breakpoint-sm: 576px;
        --breakpoint-md: 768px;
        --breakpoint-lg: 992px;
        --breakpoint-xl: 1200px;
        --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
        font-weight: 400;
        text-shadow: none;
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        font-size: 1em;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        line-height: 1.5;
        tab-size: 4;
        hyphens: none;
        box-sizing: border-box;
        color: #f08d49;
    }
    
    .punctuation {
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
        --blue: #007bff;
        --indigo: #6610f2;
        --purple: #6f42c1;
        --pink: #e83e8c;
        --red: #dc3545;
        --orange: #fd7e14;
        --yellow: #ffc107;
        --green: #28a745;
        --teal: #20c997;
        --cyan: #17a2b8;
        --white: #fff;
        --gray: #6c757d;
        --gray-dark: #343a40;
        --primary: #007bff;
        --secondary: #6c757d;
        --success: #28a745;
        --info: #17a2b8;
        --warning: #ffc107;
        --danger: #dc3545;
        --light: #f8f9fa;
        --dark: #343a40;
        --breakpoint-xs: 0;
        --breakpoint-sm: 576px;
        --breakpoint-md: 768px;
        --breakpoint-lg: 992px;
        --breakpoint-xl: 1200px;
        --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
        font-weight: 400;
        text-shadow: none;
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        font-size: 1em;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        line-height: 1.5;
        tab-size: 4;
        hyphens: none;
        box-sizing: border-box;
        color: #f08d49;
    }
    
    .comment {
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
        --blue: #007bff;
        --indigo: #6610f2;
        --purple: #6f42c1;
        --pink: #e83e8c;
        --red: #dc3545;
        --orange: #fd7e14;
        --yellow: #ffc107;
        --green: #28a745;
        --teal: #20c997;
        --cyan: #17a2b8;
        --white: #fff;
        --gray: #6c757d;
        --gray-dark: #343a40;
        --primary: #007bff;
        --secondary: #6c757d;
        --success: #28a745;
        --info: #17a2b8;
        --warning: #ffc107;
        --danger: #dc3545;
        --light: #f8f9fa;
        --dark: #343a40;
        --breakpoint-xs: 0;
        --breakpoint-sm: 576px;
        --breakpoint-md: 768px;
        --breakpoint-lg: 992px;
        --breakpoint-xl: 1200px;
        --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
        font-weight: 400;
        text-shadow: none;
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        font-size: 1em;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        line-height: 1.5;
        tab-size: 4;
        hyphens: none;
        box-sizing: border-box;
        color: #999;
    }
    
    .keyword {
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
        --blue: #007bff;
        --indigo: #6610f2;
        --purple: #6f42c1;
        --pink: #e83e8c;
        --red: #dc3545;
        --orange: #fd7e14;
        --yellow: #ffc107;
        --green: #28a745;
        --teal: #20c997;
        --cyan: #17a2b8;
        --white: #fff;
        --gray: #6c757d;
        --gray-dark: #343a40;
        --primary: #007bff;
        --secondary: #6c757d;
        --success: #28a745;
        --info: #17a2b8;
        --warning: #ffc107;
        --danger: #dc3545;
        --light: #f8f9fa;
        --dark: #343a40;
        --breakpoint-xs: 0;
        --breakpoint-sm: 576px;
        --breakpoint-md: 768px;
        --breakpoint-lg: 992px;
        --breakpoint-xl: 1200px;
        --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
        font-weight: 400;
        text-shadow: none;
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        font-size: 1em;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        line-height: 1.5;
        tab-size: 4;
        hyphens: none;
        box-sizing: border-box;
        color: #cc99cd;
    }
    
    .string {
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
        --blue: #007bff;
        --indigo: #6610f2;
        --purple: #6f42c1;
        --pink: #e83e8c;
        --red: #dc3545;
        --orange: #fd7e14;
        --yellow: #ffc107;
        --green: #28a745;
        --teal: #20c997;
        --cyan: #17a2b8;
        --white: #fff;
        --gray: #6c757d;
        --gray-dark: #343a40;
        --primary: #007bff;
        --secondary: #6c757d;
        --success: #28a745;
        --info: #17a2b8;
        --warning: #ffc107;
        --danger: #dc3545;
        --light: #f8f9fa;
        --dark: #343a40;
        --breakpoint-xs: 0;
        --breakpoint-sm: 576px;
        --breakpoint-md: 768px;
        --breakpoint-lg: 992px;
        --breakpoint-xl: 1200px;
        --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
        font-weight: 400;
        text-shadow: none;
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        font-size: 1em;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        line-height: 1.5;
        tab-size: 4;
        hyphens: none;
        box-sizing: border-box;
        color: #7ec699;
    }
    
    .boolean {
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
        --blue: #007bff;
        --indigo: #6610f2;
        --purple: #6f42c1;
        --pink: #e83e8c;
        --red: #dc3545;
        --orange: #fd7e14;
        --yellow: #ffc107;
        --green: #28a745;
        --teal: #20c997;
        --cyan: #17a2b8;
        --white: #fff;
        --gray: #6c757d;
        --gray-dark: #343a40;
        --primary: #007bff;
        --secondary: #6c757d;
        --success: #28a745;
        --info: #17a2b8;
        --warning: #ffc107;
        --danger: #dc3545;
        --light: #f8f9fa;
        --dark: #343a40;
        --breakpoint-xs: 0;
        --breakpoint-sm: 576px;
        --breakpoint-md: 768px;
        --breakpoint-lg: 992px;
        --breakpoint-xl: 1200px;
        --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
        font-weight: 400;
        text-shadow: none;
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        font-size: 1em;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        line-height: 1.5;
        tab-size: 4;
        hyphens: none;
        box-sizing: border-box;
        color: #f08d49;
    }
    
    .code-container {
        background-color: #f0f0f0;
        padding: 10px;
      }

    .function {
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
        --blue: #007bff;
        --indigo: #6610f2;
        --purple: #6f42c1;
        --pink: #e83e8c;
        --red: #dc3545;
        --orange: #fd7e14;
        --yellow: #ffc107;
        --green: #28a745;
        --teal: #20c997;
        --cyan: #17a2b8;
        --white: #fff;
        --gray: #6c757d;
        --gray-dark: #343a40;
        --primary: #007bff;
        --secondary: #6c757d;
        --success: #28a745;
        --info: #17a2b8;
        --warning: #ffc107;
        --danger: #dc3545;
        --light: #f8f9fa;
        --dark: #343a40;
        --breakpoint-xs: 0;
        --breakpoint-sm: 576px;
        --breakpoint-md: 768px;
        --breakpoint-lg: 992px;
        --breakpoint-xl: 1200px;
        --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
        font-weight: 400;
        text-shadow: none;
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        font-size: 1em;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        line-height: 1.5;
        tab-size: 4;
        hyphens: none;
        box-sizing: border-box;
        color: #f08d49;
    }

    /* CSS for alert */

    body.swal2-shown > [aria-hidden="true"] {
        transition: 0.1s filter;
        filter: blur(10px);
    }
    

    /* CSS for main tutorial */
    
    #tutorial {
        margin-bottom:  200px;
        backdrop-filter: blur(30px);
    }

    #variables {
        margin-bottom: 200px;
        backdrop-filter: blur(30px);
    }

    #arrays {
        margin-bottom: 200px;
        backdrop-filter: blur(30px);
    }

    #manipulating {
        margin-bottom: 200px;
        backdrop-filter: blur(30px);
    }

    #operators {
        margin-bottom: 200px;
        backdrop-filter: blur(30px);
    }

    @media screen and (max-width: 767px) {

      /* for about page  */
      .img-top-about {
        height: 100px !important;
        margin-bottom: -30px !important;
      }

      .img-bottom-about {
        display: none;
      }
    }

        /* Popup Ads */
        .popup {
          position: fixed;
          top: 55%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #fff;
          padding: 30px;
          border: 1px solid #ccc;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          z-index: 990;
        }
        .close-btn {
          position: absolute;
          top: 0;
          right: 10px;
          font-size: 30px;
          color: #aaa;
          cursor: pointer;
        }
        .popup1 {
          position:absolute;
          top: 70%;
          left: 88%;
          transform: translate(-50%, -50%);
          background-color: #fff;
          padding: 30px;
          border: 1px solid #ccc;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          z-index: 950;
        }
        .popup2 {
          position:relative;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #fff;
          padding: 30px;
          border: 1px solid #ccc;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          z-index: 940;
        }

        @media only screen and (max-width: 800px) {
          .popup1 {
            position:absolute;
            top: 70%;
            left: 84%;
            width: 150px;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 15px;
            padding-top: 20px;
            border: 1px solid #ccc;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            z-index: 950;
          } 
          .popup1 img {
            width: 120px;
          }
          .close-btn {
            font-size: 20px;
          }
        }
        
    .logo-wrap {
      height: 50px;
  }
  
  /***************************************************
   * Generated by SVG Artista on 6/5/2023, 4:40:24 PM
   * MIT license (https://opensource.org/licenses/MIT)
   * W. https://svgartista.net
   **************************************************/
  
   svg .svg-elem-1 {
    stroke-dashoffset: 79.88195037841797px;
    stroke-dasharray: 79.88195037841797px;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
  }
  
  svg.active .svg-elem-1 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-2 {
    stroke-dashoffset: 100.58767700195312px;
    stroke-dasharray: 100.58767700195312px;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s;
  }
  
  svg.active .svg-elem-2 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-3 {
    stroke-dashoffset: 98.70291137695312px;
    stroke-dasharray: 98.70291137695312px;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s;
  }
  
  svg.active .svg-elem-3 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-4 {
    stroke-dashoffset: 106.82320404052734px;
    stroke-dasharray: 106.82320404052734px;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s;
  }
  
  svg.active .svg-elem-4 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-5 {
    stroke-dashoffset: 79.88201141357422px;
    stroke-dasharray: 79.88201141357422px;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s;
  }
  
  svg.active .svg-elem-5 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-6 {
    stroke-dashoffset: 100.58776092529297px;
    stroke-dasharray: 100.58776092529297px;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s;
  }
  
  svg.active .svg-elem-6 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-7 {
    stroke-dashoffset: 156.2712860107422px;
    stroke-dasharray: 156.2712860107422px;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s;
  }
  
  svg.active .svg-elem-7 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-8 {
    stroke-dashoffset: 114.40962219238281px;
    stroke-dasharray: 114.40962219238281px;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s;
  }
  
  svg.active .svg-elem-8 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-9 {
    stroke-dashoffset: 84.26210021972656px;
    stroke-dasharray: 84.26210021972656px;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s;
  }
  
  svg.active .svg-elem-9 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-10 {
    stroke-dashoffset: 63.920021057128906px;
    stroke-dasharray: 63.920021057128906px;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s;
  }
  
  svg.active .svg-elem-10 {
    stroke-dashoffset: 0;
  }
