#aiRobotContainer {
    display: none;
    height: 25vw;
    position: absolute;
    z-index: 50;
    top: 20vw;
    right: 40vw;
    transform: translate(-50%, -50%);
    animation: popUpAnimation 0.5s ease-out;
  }
  
  @keyframes popUpAnimation {
    0% {
      transform: translate(-50%, -50%) scale(0);
      opacity: 0;
    }
    80% {
      transform: translate(-50%, -50%) scale(1.1);
      opacity: 1;
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
  }

  #aiRobotButton {
    position: absolute;
    height: 4vw;
    right: 2vw;
    bottom: 2.5vw;
    z-index: 30;
    cursor: pointer;
    background-color: rgb(4, 163, 255, 0.5);
    padding: 0.5vw;
    border: solid 0.1vw rgb(0, 174, 255);
    border-radius: 1vw;
  }

  .aitwo-eyes {
    display: flex;
    position: absolute;
    height: 4vw;
    right: 3.5vw;
    top: 8vw;
    z-index: 60;
    justify-content: center;
    align-items: center;
    scale: 80%;
  }

  .aieye {
    display: flex;
    width: 3vw;
    height: 2vw;
    background-color: rgb(157, 255, 255);
    margin-left: 1.5vw;
    border-radius: 100%;
    animation: eye-animate 4s infinite;
    box-shadow: 0 0 10px 10px rgba(23, 240, 255, 0.5);
  }
  
  @keyframes eye-animate {
    0% {
      height: 2vw;
    }
    5% {
      height: 0.5vw;
    }
    10% {
      height: 2vw;
    }
  
    50% {
      height: 2vw;
    }
    55% {
      height: 0.5vw;
    }
    60% {
      height: 2vw;
    }
    65% {
      height: 0.5vw;
    }
    70% {
      height: 2vw;
    }
  
  }
  

    /* - - - AI Message - - - - -- - -  */

    #ai-message {
        position: absolute;
        top: 10vw;
        left: 20vw;
        z-index: 30;
        color: #ffffff;
        background-color: rgba(29, 202, 255, 0.5);
        border: 1px solid rgb(157, 255, 255);
        border-radius: 1.5vw;
        padding: 1vw;
        width: 15vw;
        font-size: 0.8vw;
      }