html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background-image: url('../images/background.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #6499ba;
  cursor: url('../images/cursor/Normal.gif'), default;
}

* {
  font-family: maintext;
}

h2 {
  font-size: 1.25vw;
}

nav {
margin: 0vw;
 position: absolute;
 top: -0.8vw;
 z-index: 10;
}

img {
  width: 100%;
  height: 100%;
}

.character {
  width: 5.5vw;
  height: 5.5vw;
  display: inline-block;
  margin: 0.5vw;
  text-align: center;
  cursor: pointer;
  position: relative;
  cursor: url('../images/cursor/Link.gif'), pointer;
}

.character img {
  width: 100%;
  height: 100%;
  cursor: url('../images/cursor/Link.gif'), pointer;
}

.character-name {
  position: absolute;
  bottom: -1.1vw;
  left: 0vw;
  right: 0vw;
  font-size: 0.7vw;
  cursor: url('../images/cursor/Link.gif'), pointer;
}

.character-status {
  position: absolute;
  top: 3vw;
  left: 0vw;
  right: 0vw;
  font-size: 0.7vw;
  color: red;
  cursor: url('../images/cursor/Link.gif'), pointer;
}

.character.selected .character-status {
  color: green;
  font-weight: bold;
}


.locked {
  border: 0.2vw solid rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}


.selected-overlay {
  position: absolute;
  left: 0vw;
  bottom: 0vw;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 0.8vw;
  color: rgb(255, 255, 255);
  background-color: rgb(5, 57, 94);
}
  
  .character-box {
    display: none;
    position: fixed;
    top: 25vw;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color:rgba(0, 133, 170);
    padding: 1.2vw;
    box-shadow: 0 0.2vw 0.5vw rgba(0, 0, 0, 0.3);
    z-index: 9999;
    color: rgb(255, 255, 255);
    outline: 0.1vw solid rgb(0, 93, 146);

  }
  
  .character-box h2 {
    margin-top: 0;
  }
  
  .character-box .character {
    margin-bottom: 0.5vw;
  }
  
  .lock-status {
    margin-left: 0.1vw;
    font-size: 0.9vw;
    color: red;
    cursor: url('../images/cursor/Link.gif'), pointer;
  }

  #closeButton {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: -0.5vw;
    right: -0.5vw;
    height: 2vw;
    width: 2vw;
    font-size: 1vw;
    border-radius: 2vw;
    background-color:  rgb(255, 159, 159);
    color: rgb(255, 255, 255);
    border: transparent;
    box-shadow: 0 0 0.6vw 0.2vw rgba(255, 29, 29, 0.5);
    cursor: url('../images/cursor/Link.gif'), pointer;
  }

  /* Add styles for the profile picture and the profile pop-up box */

#closeProfileButton {
  position: absolute;
  right:-0.7vw;
  top: -0.7vw;
  width: 2vw;
  height: 2vw;
  cursor: pointer;
  border-radius: 3vw;
  border: transparent;
  background-color:  rgb(255, 159, 159);
  box-shadow: 0 0 0.6vw 0.2vw rgba(255, 29, 29, 0.5);
  cursor: url('../images/cursor/Link.gif'), pointer;
}

#imageUploadButton {
  position: absolute;
  background-color: black;
  cursor: pointer;
  height: 1.5vw;
  width: 1.5vw;
  border:transparent;
  border-radius: 0.6vw;
  top: 1.2vw;
  right: 3.9vw;
  cursor: url('../images/cursor/Link.gif'), pointer;
}

#profileBox {
  display: none;
  position: fixed;
  z-index: 11;
  top: 25vw;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 15.625vw;
  height: 26.041666666666668vw;
  padding: 1.0416666666666667vw;
  background-color: #fff;
  border: 0.052083333333333336vw solid #ccc;
  border-radius: 0.2604166666666667vw;
  text-align: center;
}

#profileBox img {
  width: 6.770833333333333vw;
  height: 6.770833333333333vw;
  border-radius: 5%;
  object-fit: cover;
  margin-bottom: 0.5208333333333334vw;
}

/** - - - - -- - -- - - - - -- - - -- -- -  -- -- -            - - -- - - - - -  */

@font-face {
  font-family: maintext;
  src: url("../fonts/nasalization-rg.otf");
}

.level-exp {
  position: absolute;
  z-index: 10;
  left: 16.58vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top: 4.31vw;
}



#fullName {
  font-family: maintext;
  color: rgb(193, 232, 255);
  font-size: 1.2vw;
  position: relative;

}

#username {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8vw;
  margin: 0vw;
  padding: 0vw;
  margin-top: -1.2vw;
  color: #11ff74;
}

#profileContainer {
  margin-top: 1.1vw;
  margin-left: 1.5vw;
  display: flex;
  align-items: center;
  position: relative;
  display: flex;
  align-items: center;

}

#profilePictureLarge {
  background-image: url('../images/blank-profile.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.profilePicture {
  display: flex;
  width: 4.8vw;
  height: 4.8vw;
  border-radius: 0.8vw;
  object-fit: cover;
  margin:0vw;
  background-image: url('../images/blank-profile.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  cursor: url('../images/cursor/Link.gif'), pointer;
}

#profileButton {
  display: flex;
  border-radius: 1.13vw;
  padding: 0vw;
  background-color: transparent;
  margin-right: 1.2vw;
  margin-top: 1.2vw;
  margin-left: 1.2vw;
  border: 0.3vw solid rgb(151, 217, 255);
  box-shadow: 0 0 0.52vw 0.26vw rgba(61, 203, 255, 0.5);
  cursor: url('../images/cursor/Link.gif'), pointer;
}

  /** Experience Bar */

  #experienceBar {
    scale: 70%;
    position: absolute;
    width: 10vw; /** Old Value: 300 */
    height: 0.5vw;
    background-color: #121821;
    display: flex;
    flex-wrap: wrap;
    border-radius: 1.5625vw;
    left: 4.6vw;
    top: 1.3vw;
  }
  
  #experienceBox {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 1.5625vw;
  }
  
  #experienceBarFill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #3df4a2;
    transition: width 0.5s ease-in-out;
    border-radius: 1.5625vw;
  }
  
 #level {
  position: absolute;
  left: 4.5vw;
  z-index: 8;
  top: -1vw;
  font-size: 1vw;
  color: white;
  text-shadow: 0.10vw 0.10vw 0.20vw rgba(0, 0, 0, 0.5);
  }
  
  .currentlevel {
    position: absolute;
    width: 10vw;
    left: 6.2vw;
    color: white;
    font-size: 1.0vw;
    top: -0.6vw;
  }

  .exp {
    position: absolute;
    left: 6.2vw;
    top: 0.4vw;
    color: #3df4a2;
    width: 10vw;
    font-size: 0.6vw;
  }

  #exp {
  color: white;
  font-size: 0.6vw;
  }

#profileBox h2 {
  font-size: 1.04vw;
  margin-bottom:  0.26vw;
}

#profileBox p {
  font-size: 0.83vw;
  margin-bottom: 0.52vw;
}

#profileBox button {
  font-size: 0.83vw;
  cursor: url('../images/cursor/Link.gif'), pointer;
}


/** */

#previewContainer {
  width: 15.625vw;
  height: 15.625vw;
  overflow: hidden;
}

#previewImage {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

/** */
.cropper-container {
  height: 25vw !important;
  width: 26vw !important;
}

#cropButton {
  margin-top: 0.5vw;
  padding: 0.5vw;
  border-radius: 0.5vw;
  background-color: rgba(19, 196, 255);
  border: transparent;
  color: #f2f2f2;
  width: 5vw;
}

.crop-editor-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:rgba(0, 133, 170);
  padding: 1.04vw;
  border: 0.05vw solid #17ffe8;
  border-block-start-style: double;
  box-shadow: 0 0.10vw 0.20vw rgba(0, 0, 0, 0.2);
  z-index: 999;
  display: none;
  height: 29vw;
  width: 28vw;
  border-radius: 1vw;
}

.crop-editor-box img {
  max-width: 100%;
  height: auto;
  margin-bottom: 0.5208333333333334vw;
}

.crop-editor-box button {
  display: block;
  margin: 0 auto;
  cursor: url('../images/cursor/Link.gif'), pointer;
}


/** - -  Profile name edit box-- - - - -  */

/* Profile Box */

.pnameContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #3e4e6a;
  border-radius: 0.5208333333333334vw;
  color: white;
  padding-bottom: 0.6vw;
}

#editProfileButton {
  margin-top: 0.5208333333333334vw;
  border: transparent;
  background-color: #213454;
  border-radius: 0.5208333333333334vw;
  margin-left: 0.5208333333333334vw;
  cursor: url('../images/cursor/Link.gif'), pointer;
}

/* Edit Profile Name Box */
#editProfileNameBox {
  position: fixed;
  z-index: 15;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15.625vw;
  padding: 1.0416666666666667vw;
  background-color: #f2f2f2;
  border: 0.05vw solid #ccc;
  box-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.1);
  text-align: center;
  display: none;
}

#editProfileNameBox h2 {
  margin-bottom: 0.5208333333333334vw;
}

#editProfileNameInput {
  width: 100%;
  margin-bottom: 0.5208333333333334vw;
  padding: 0.5vw;
  cursor: url('../images/cursor/Handwriting.gif'), pointer;
}

#saveProfileNameButton, #closeEditProfileButton {
  margin: 0.2604166666666667vw;
}

/** - - - - - - TOP LEFT SECTION  - - - - - - - --  -   --  - - - - */
.coin-area {
 position: absolute;
 top: -4vw;
 left: 33vw;
}


#peso-circle {
  position: absolute;
  z-index: 5;
  left: 0.9vw;
  top: 7.8vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0.1vw;
  width: 1.4vw;
  height: 1.4vw;
  background-color:#ff8533;
  border-radius: 50%;
  margin-left: 0.6vw;
}

#coins {
  position: absolute;
  z-index: 10;
  top: 7.7vw;
  left: 6vw;
  font-size: 1.3vw;
  color: white;
  margin-top: 0vw;
  margin-bottom: 0vw;
  padding: 0vw;
}

#characterImage {
  position: absolute;
  padding-top: 2vw;
  top: 15vw;
  left: 15vw;
  z-index: 20;
  height: 22vw;
  width: 16vw;
  background-color: rgb(58, 183, 255, 0.3);
  border:solid rgb(139, 213, 255) 0.4vw;
  box-shadow: 0 0 0.52vw 0.26vw rgba(61, 203, 255, 0.5);
  border-bottom-width: 2vw;
  border-block-start-style: double;
  border-top-color: #35bcff;
  border-inline-end: #11ff74;
  border-inline-start: #11ff74;
  border-radius: 2vw;

  background-image: linear-gradient(to right, rgb(79, 226, 255, 0.2) 1px, transparent 1px),
  linear-gradient(to bottom, rgb(64, 223, 255, 0.2) 1px, transparent 1px);
  background-size: 20px 20px; /* Adjust the size of the grid lines */
  background-position: 0 0;
}


#character-frame {
  position: absolute;
  top: 10vw;
  left: 13vw;
  z-index: 5;
  height: 35vw;
  width: 25vw;
}

/** - - - - - - VECTOR DESIGNS- - -- - - -  */

.name-holder {
  position: absolute;
  z-index: -10;
 display: flex;
  width: 30vw;
  height: 3.78vw;
  margin-top: 0.9vw;
  left: -2.7vw;
}

.exp-holder {
  position: absolute;
  z-index: -10;
 display: flex;
  width: 15vw;
  height: 3.78vw;
  margin-top: 1.29vw;
  margin-left: 17.6vw;
}

.level-holder {
  position: absolute;
  z-index: -8;
 display: flex;
  height: 2.0vw;
  width: 3.5vw;
  margin-top: -1.5vw;
  left: 3.0vw;
  top: 1vw;
}

#coin-holder {
  position: absolute;
  top: 1vw;
  z-index: -10;
  width: 15vw;
  height: 15vw;
}

.fa-peso-sign {
  font-size: 0.9vw;
}
/* - - - - - - - Side-Menu - - - - - - - - - - */
section {
  position: relative;
  top: -40vw;
  left: 0vw;
  width: 20vw;
  z-index: 11;
  height: 20vw;
}

.side-buttons-prl {
  position: relative;
  left: -6vw;
  background-color: #35bcff;
  height: 6vw;
  width: 13vw;
  transform: skew(-20deg);
  border-radius: 1.2vw;
  margin-top: 0.8vw;
  background-color:  rgba(0, 68, 97, 0.4);
  border: rgba(132, 218, 255, 0.2) solid 0.2vw;
}

.side-buttons-prl2 {
  position: relative;
  left: -6vw;
  background-color: #35bcff;
  height: 6vw;
  width: 13vw;
  transform: skew(20deg);
  border-radius: 1.2vw;
  margin-top: 0.8vw;
  background-color:  rgba(0, 68, 97, 0.4);
  border: rgba(132, 218, 255, 0.2) solid 0.2vw;
}

.side-buttons {
  position: relative;
  left: -7vw;
  background-color: #35bcff;
  height: 6vw;
  width: 13vw;
  border-radius: 1vw;
  margin-top: 0.8vw;
  background-color:  rgba(0, 68, 97, 0.4);
  border: rgba(132, 218, 255, 0.2) solid 0.2vw;
}

/* - - - - button logo - - --  - -*/

.button-icon {
  display: flex;
  flex-wrap: wrap;
  height: 3vw;
  width: 3vw;
  filter: drop-shadow(0 0.2vw 0.9vw rgb(39, 197, 255, 0.8));
  cursor: url('../images/cursor/Link.gif'), pointer;
}

#charactersButton {
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  cursor: url('../images/cursor/Link.gif'), pointer;
}

.button-label {
  display: flex;
  color: #b2e0ff;
  font-size: 0.7vw;
  filter: drop-shadow(0 0.2vw 0.3vw rgb(39, 197, 255, 0.5));
}

/**-  - - - - - - - - - - - - - - - - - - */
.character-menu {
  position: absolute;
  flex-wrap: wrap;
  z-index: 10;
  top: 0.4vw;
  left: 0.5vw;
  display: flex;
  flex-direction: column;  
  width: 2vw;
  justify-content: center;
  align-items: center;
  cursor: url('../images/cursor/Link.gif'), pointer;
  filter: drop-shadow(0 0.2vw 0.3vw rgb(39, 197, 255, 1));
}

.bag-menu {
  position: absolute;
  flex-wrap: wrap;
  z-index: 10;
  top: 7.8vw;
  left: 1vw;
  display: flex;
  flex-direction: column;  
  width: 2vw;
  justify-content: center;
  align-items: center;
  cursor: url('../images/cursor/Link.gif'), pointer;
  filter: drop-shadow(0 0.2vw 0.3vw rgb(39, 197, 255, 1));
}

.store-menu {
  position: absolute;
  flex-wrap: wrap;
  z-index: 10;
  top: 14.8vw;
  left: 1vw;
  display: flex;
  flex-direction: column;  
  width: 2vw;
  justify-content: center;
  align-items: center;
  cursor: url('../images/cursor/Link.gif'), pointer;
  filter: drop-shadow(0 0.2vw 0.3vw rgb(39, 197, 255, 1));
}

.rewards-menu {
  position: absolute;
  flex-wrap: wrap;
  z-index: 10;
  top: 21.5vw;
  left: 0.5vw;
  display: flex;
  flex-direction: column;  
  width: 2vw;
  justify-content: center;
  align-items: center;
  cursor: url('../images/cursor/Link.gif'), pointer;
  filter: drop-shadow(0 0.2vw 0.3vw rgb(39, 197, 255, 1));
}

.achievements-menu {
  position: absolute;
  flex-wrap: wrap;
  z-index: 10;
  top: 28.5vw;
  left: 0.3vw;
  display: flex;
  flex-direction: column;  
  width: 2vw;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 0.2vw 0.3vw rgb(39, 197, 255, 1));
}

.reward-icon {
  height: 2.2vw;
  width: 2.2vw;
  margin-bottom: 0.8vw;
  cursor: url('../images/cursor/Link.gif'), pointer;
  filter: drop-shadow(0 0.2vw 0.3vw rgb(39, 197, 255, 1));
}

.store-icon {
  height: 2.5vw;
  width: 2.5vw;
  margin-bottom: 0.3vw;
  cursor: url('../images/cursor/Link.gif'), pointer;
  filter: drop-shadow(0 0.2vw 0.3vw rgb(39, 197, 255, 1));
}

.achievements-icon {
  height: 2.2vw;
  width: 2.2vw;
  margin-bottom: 0.5vw;
  cursor: url('../images/cursor/Link.gif'), pointer;
  filter: drop-shadow(0 0.2vw 0.3vw rgb(39, 197, 255, 1));
}

/* - - - - - GAME MENU- - -- - -*/
.game-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 15vw;
  top: 10vw;
  width: 20VW;
  height: 30vw;
  background-color: rgba(19, 165, 255, 0.3);
  z-index: 10;
  border-radius: 1vw;
  border: rgba(78, 231, 255, 0.971) solid 0.5vw;
  box-shadow: 0 0 0.52vw 0.26vw rgba(61, 203, 255, 0.5);
  border-block-start-style: double;
  border-block-end-style: double;
  border-top-color: #35bcff;

  background-image: linear-gradient(to right, rgb(79, 226, 255, 0.2) 1px, transparent 1px),
  linear-gradient(to bottom, rgb(64, 223, 255, 0.2) 1px, transparent 1px);
  background-size: 40px 40px; /* Adjust the size of the grid lines */
  background-position: 0 0; 
}

.game-menu a {
  text-decoration: none;
  text-decoration-color: transparent;
  width: 15vw;
  height: 3vw;

}


.menu-buttons {
  display: flex;
  width: 15VW;
  height: 3vw;
  background-color: rgba(19, 196, 255, 0.3);
  border: rgba(78, 231, 255, 0.971) solid 0.3vw;
  transform: skew(-15deg);
  margin-bottom: 1vw;
  border-block-start-style: unset;
  border-block-end-style: unset;
  cursor: url('../images/cursor/Link.gif'), pointer;
}

.menu-text {
  color: #f2f2f2;
  position: relative;
  top: 2vw;
  font-size: 1vw;
  cursor: url('../images/cursor/Link.gif'), pointer;
}


/* - - - - -- - - -- - - - - -- */

.right-buttons {
  position: absolute;
  right: 1.5vw;
  top: 2vw;
  scale: 0.8;
}

.horizon-button {
  height: 4vw;
  width: 4vw;
}

.settings-icons {
  right: 0.9vw;
  top: 0.9vw;
  position: absolute;
  height: 2.2vw;
  width: 2.2vw;
  cursor: url('../images/cursor/Link.gif'), pointer;
}

.message-icons {
  right: 5.18vw;
  top: 0.9vw;
  position: absolute;
  height: 2.2vw;
  width: 2.2vw;
  cursor: url('../images/cursor/Link.gif'), pointer;
}

.music-icons {
  right: 9.7vw;
  top: 1.1vw;
  position: absolute;
  height: 1.7vw;
  width: 1.7vw;
  cursor: url('../images/cursor/Link.gif'), pointer;
}

/* - - - - - - -- Music - - - - - - - - - - -  */
.close-musicBox {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: -0.5vw;
  right: -0.5vw;
  height: 2vw;
  width: 2vw;
  font-size: 1vw;
  border-radius: 2vw;
  background-color:  rgb(255, 159, 159);
  color: rgb(255, 255, 255);
  border: transparent;
  box-shadow: 0 0 0.6vw 0.2vw rgba(255, 29, 29, 0.5);
  cursor: url('../images/cursor/Link.gif'), pointer;
}

#music-box {
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  right: 12vw;
  top: 6vw;
  z-index: 20;
  height: 8vw;
  width: 20vw;
  background-color: rgba(4, 180, 255, 0.8);
  border: solid rgba(86, 235, 255, 0.8) 0.2vw;
}

#thefile {
  display: none; /* Hide the original file input */
}

#file-label {
  display: flex;
  position: absolute;
  top: 0.5vw;
  left: 0.5vw;
  padding: 10px 20px;
  background-color: #23c1ff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

#file-label:hover {
  background-color: #2f9dc8;
}

#canvas {
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.audio-player {
  display: flex;
  width: 300px;
  background-color: transparent;
  border-radius: 4px;
  padding: 10px;
  margin-top: 1vw;
}

.audio-player audio {
  width: 100%;
  outline: none;
}

.audio-player audio::-webkit-media-controls-panel {
  background-color: #04d3fc;
  border-radius: 4px;
  padding: 10px;
  color: rgb(85, 85, 85);
}

.audio-player audio::-webkit-media-controls-play-button,
.audio-player audio::-webkit-media-controls-pause-button {
  background-color: #4e9dcf;
  color: rgb(85, 85, 85);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.audio-player audio::-webkit-media-controls-timeline {
  height: 4px;
  background-color: #04d3fc;
  border-radius: 2px;
  color: rgb(85, 85, 85);
}

.audio-player audio::-webkit-media-controls-current-time-display,
.audio-player audio::-webkit-media-controls-time-remaining-display {
  font-size: 12px;
  color: rgb(85, 85, 85);
}