.tutorial-message {
    position: absolute;
    z-index: 40;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 7vw;
    right: 18vw;
    transform: translate(-50%, -50%);
    padding: 1vw;
    background-color: #f1f1f1;
    border: 0.08vw solid #ccc;
    opacity: 0;
    animation: popup 0.5s ease forwards;
    width: 15vw;
    height: 5vw;
    transform: scale(0);
    padding-bottom: 1vw;
  }
  
  @keyframes popup {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    80% {
      opacity: 1;
      transform: scale(1.1);
    }
    100% {
        opacity: 1;
      transform: scale(1);
    }
  }
  
  .overlay-div {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.8;
  }
  
  .arrow-image {
    position: absolute;
    right: 2.5vw;
    top: 8.2vw;
    z-index: 30;
    height: 5vw;
  }

  .screenshoot {
    position: absolute;
    right: 2.5vw;
    top: 8.2vw;
    z-index: 30;
    height: 8vw;
  }

  .okay-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5vw;
    height: 2vw;
    width: 3.5vw;
    position: absolute;
    z-index: 40;
    top: 12.5vw;
    right: 23.5vw;
    border-radius: 0.5vw;
    border: solid 0.2px black;
    cursor: url('../images/cursor/Link.gif'), pointer;
  }

  .robot-container {
    /* Existing animation properties */
    position: absolute;
    right: -12vw; /* Start position */
    top: 8vw;
    z-index: 35;
    animation-name: robotSlide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 4s; /* Delay of 4 seconds */
  }
  
  @keyframes robotSlide {
    0% {
      right: -8vw; /* Start position */
    }
    100% {
      right: 4vw; /* End position */
    }
  }
  
  .robot-container-animate {
    /* New animation properties */
    position: absolute;
    right: 4vw; /* End position */
    top: 8vw;
    z-index: 35;
    animation-name: robotPulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes robotPulse {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-1vw); /* Move up slightly */
    }
    100% {
      transform: translateY(0);
    }
  }
  


  .robot-image {
    height: 30vw;
    width: 15vw;
  }



  .two-eyes {
    display: flex;
    position: absolute;
    height: 4vw;
    right: 3vw;
    top: 10vw;
    z-index: 60;
    justify-content: center;
    align-items: center;
    scale: 80%;
  }
  .eye {
    display: flex;
    width: 3vw;
    height: 2vw;
    background-color: rgb(157, 255, 255);
    margin-left: 1.5vw;
    border-radius: 100%;
    animation: eye-animate 4s infinite;
    box-shadow: 0 0 10px 10px rgba(23, 240, 255, 0.5);
  }
  
  @keyframes eye-animate {
    0% {
      height: 2vw;
    }
    5% {
      height: 0.5vw;
    }
    10% {
      height: 2vw;
    }
  
    50% {
      height: 2vw;
    }
    55% {
      height: 0.5vw;
    }
    60% {
      height: 2vw;
    }
    65% {
      height: 0.5vw;
    }
    70% {
      height: 2vw;
    }
  
  }

  #tutorialButton {
    position: absolute;
    z-index: 30;
    right: 3vw;
    bottom: 3vw;
    padding: 0.5vw;
    font-size: 1.5vw;
    color: #ccc;
    background-color: rgb(0, 151, 197);
    border: transparent;
  }