
body {
    overflow: hidden;
    margin: 0vw;
    display: flex;
    background-image: url("images/gameBackgrounds/background1.svg");
    background-size: 146.7vw;
    background-repeat: no-repeat;
    background-position: -0.9vw -7vw;
    cursor: url('../images/cursor/Normal.gif'), default;
}

@font-face {
  font-family: tech;
  src: url('../fonts/nasalization-rg.otf');
}

.container {
    width: 30vw;
    height: 20vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* - - - - - - - -- table - - - - -- - - - - - - - */
#table {
  position: absolute;
  z-index: 20;
  bottom: 0.95vw;
  left: -50vw;
  width: 55vw;
  transition: bottom 0.5s ease;
  cursor: url('../images/cursor/Normal.gif'), default;
}

.table-animation {
  animation-name: table-animation;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

@keyframes table-animation {
  0% {
    bottom: 0.95vw;
    left: -50vw;
  }
  100% {
    bottom: 0.95vw;
    left: 12vw;
  }
}

#monitor {
  position: absolute;
  right: 3vw;
  top: -11vw;
  width: 35vw;
  transition: top 0.5s ease;
}

.monitor-animation {
  animation-name: monitor-animation;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes monitor-animation {
  0% {
    right: 3vw;
    top: -11vw;
  }
  100% {
    right: 3vw;
    top: 11vw;
  }
}

/*  - - -- - - - - - - - - - - - -- -- - - - - - - - - */
#difficulty-container {
  position: absolute;
  display: flex;
  left: 0vw;
  top: 0vw;
  z-index: 35;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 48.5vw;
  background-color: #000000;
  color: #f7f7f7;

  background-color: #2c2c2c;
  transition: opacity 0.5s ease;
}

.fade-out{
  animation-name: fade-animation;
  animation-duration: 0.7s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes fade-animation {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}


#proceed img {
  position: absolute;
  z-index: 60;
  top: 0vw;
  left: 0vw;
  background-color: transparent;
  border: transparent;
  width: 8vw;
  cursor: url('../images/cursor/Link.gif'), pointer;
}

#next-button {
  position: absolute;
  z-index: 62;
  left: 1.9vw;
  top: 0.9vw;
  font-size: 1.5vw;
  color: #a9dcff;
  font-family: tech;
}

button#proceed {
  position: absolute;
  z-index: 62;
  top: 27.8vw;
  left: 48vw;
  background-color: transparent;
  border: transparent;
  width: 8vw;
  height: 2vw;
  cursor: url('../images/cursor/Link.gif'), pointer;
}

.difficulty-levels {
  position: absolute;
  left: 37%;
  top: 3.8vw;
  z-index: 60;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30vw;
  height: 35vw;
  color: #f7f7f7;
  font-family: tech;
}

#diff-box {
  position: absolute;
  top: 10vw;
  left: 37%;
  width: 30vw;
  z-index: 30;
  height: 20vw;
}

.radio-button {
  display: inline-block;
  text-align: center;
  padding: 0.5208333333333334vw 1.0416666666666667vw;
  background-color: rgb(44, 167, 255, 0.5);
  border: solid 0.15vw rgb(38, 241, 255, 0.5);
  border-radius: 0.5vw;
  cursor: pointer;
  outline: none; /* Removes the outline on focus */
  margin-bottom: 1vw;
  width: 8vw;
  cursor: url('../images/cursor/Link.gif'), pointer;
}

.radio-button:hover {
  background-color: #157fbd;
  cursor: url('../images/cursor/Link.gif'), pointer;
}

input[type="radio"] {
  display: none; /* Hides the default radio buttons */
}

input[type="radio"]:checked + label {
  background-color: red;
  color: #fff;
}

/* - - - -- - - difficulty box's light animation- - -- - - - - --  */

.wrap svg {
  position: absolute;
  top: 14.48vw;
  left: 1.65vw;
  z-index: 40;
  height: 13vw;
}

.wrap2 svg {
  position: absolute;
  top: 14.48vw;
  left: 34.9vw;
  z-index: 45;
  height: 13vw;
}

/***************************************************
 * Generated by SVG Artista on 6/6/2023, 1:06:13 AM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

 .wrap svg .svg-elem-1 {
  fill: transparent;
  -webkit-transition: fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
          transition: fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
}

.wrap svg.active .svg-elem-1 {
  fill: rgb(235, 235, 42);
}

.wrap svg .svg-elem-2 {
  fill: transparent;
  -webkit-transition: fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
          transition: fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
}

.wrap svg.active .svg-elem-2 {
  fill: rgb(235, 235, 42);
}

.wrap svg .svg-elem-3 {
  fill: transparent;
  -webkit-transition: fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s;
          transition: fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s;
}

.wrap svg.active .svg-elem-3 {
  fill: rgb(235, 235, 42);
}

.wrap svg .svg-elem-4 {
  fill: transparent;
  -webkit-transition: fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.30000000000000004s;
          transition: fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.30000000000000004s;
}

.wrap svg.active .svg-elem-4 {
  fill: rgb(235, 235, 42);
}


/* - - - -- - - - - -- - - - - --  */

.card {
    height: 18.3vw;
    width: 26.7vw;
    background-color: #383838;
    border-radius: 1.5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    flex-direction: row;
    text-align: center;
    padding-top: 0.2vw;
    padding-bottom: 1.1vw;

    position: absolute;
    left: -28vw;
    top: 10vw;
    scale: 85%;
    z-index: 40;
    transition: left 0.5s ease;
}

.move-animation {
  animation-name: move-animation;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 1.0s;
}

@keyframes move-animation {
  0% {
    left: -28vw;
  }
  100% {
    left: 1.5vw;
  }
}

#checkButton {
  border: transparent;
  border-radius: 1vw;
  padding: 0.5vw;
  font-family: consolas;
  font-size: 0.7vw;
  background-color:#C2D95F;
  color: rgb(100, 100, 100);
  cursor: pointer;
  position: relative;
  right: -13vw;
  cursor: url('../images/cursor/Link.gif'), pointer;
}

.circle {
  position: relative;
  left: -10.5vw;
  margin: 0.2vw;
  border-radius: 2.6041666666666665vw;
  width: 1vw;
  height: 1vw;
  background-color: #F08468;
}

.circle:nth-child(3) {
  background-color:#C2D95F;
}

.circle:nth-child(2) {
  background-color:#FFDE55;
}

.circle:nth-child(1) {
  background-color:#F08468;
}

p {
    color: rgb(255, 18, 18);
    font-size: larger;
}

#errorOutput {
  margin: 1.0416666666666667vw;
    color:rgb(255, 30, 30);
    font-weight: bolder;
    font-size: x-large;
    position: absolute;
    bottom: 14vw;
    right: 10vw;
}


/* - - - - -For Code Editors- -- - - - */
@font-face {
    font-family: codefont;
    src: url('consola.ttf');
}


  
  /* Track */
  ::-webkit-scrollbar {
    background-color: rgb(84, 84, 84);
    width: 0.5vw; /* Adjust the width of the scrollbar */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #000000; /* Customize the color of the scrollbar handle */
    border-radius: 1.3vw;
    border: solid white 0.1vw;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Customize the color of the scrollbar handle on hover */
  }
  
  /** */
  
  .code-editor {
    position: relative;
    display: flex;
    width: 26.3vw;
    margin-top: 0.2vw;
  }
  
  .line-numbers {
    top: 0;
    left: 0;
    width: 1.6vw; /* Adjust the width as needed */
    padding: 0.52vw;
    border-right: 0.1vw solid #969696;
    user-select: none;
    height: 15.625vw;
    max-height: 15.625vw;
    overflow-y: auto;
    border-bottom-left-radius: 1.5625vw;
    border-top-left-radius: 0.2604166666666667vw;
    background-color: #272727;
    color: rgb(157, 157, 157);
    font-family: consolas;
    font-size: 0.7291666666666666vw;
    
  }
  
  textarea {
    flex-grow: 1;
    padding: 0.5208333333333334vw;
    border: 0.052083333333333336vw solid transparent;
    overflow-x: auto;
    white-space: nowrap;
    max-height: 15.625vw;
    height: 15.625vw;
    resize: none;
    border-bottom-right-radius: 1.5625vw;
    border-top-right-radius: 0.2604166666666667vw;
    background-color: #272727;
    color: #C2D95F;
    font-family: consolas;
    font-size: 0.7291666666666666vw;
  }
  
  textarea:focus {
    outline: transparent;
  }
  

  /** */


  #question-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 18.5vw;
    padding: 0.5vw;
    position: absolute;
    top: 14vw;
    right: 10%;
    transform: matrix(1, 0.04, 0.05, 1, 0, 0);
  }
  
  #question-title {
    display: flex;
    font-size: 1.2vw;
    margin-bottom: 0.2vw;
    font-family: century gothic !important;
    color: #ffb4b4;
    text-shadow: 0 0 0.5208333333333334vw rgba(255, 19, 19, 0.8);
    filter: drop-shadow(0 0 0.5208333333333334vw rgba(255, 40, 40, 0.8));
  }
  
  #question-description {
    display: flex;
    flex-wrap: wrap;
    font-size: 1vw;
    font-family: century gothic !important;
    color: rgb(188, 255, 255);
    text-shadow: 0 0 0.5208333333333334vw rgba(19, 208, 255, 0.8);
    filter: drop-shadow(0 0 0.5208333333333334vw rgba(40, 212, 255, 0.8));
  }
  
  #question-code {
    display: flex;
    background-color: #f7f7f7;
  }
  
  #answer-box {
    margin-top: 1.041vw;
  }
  
  #submit-answer {
    margin-top: 0.52vw;
  }
  
  #consoleDisplay {
    position: absolute;
    left: 5vw;
    top: 5vw;
  }

  /* - - -- - - --  - - - - - - - - - - - - - -*/
  #hacking-layers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.041vw;
  }
  
  .layer {
    width: 1.56vw;
    height: 1.56vw;
    background-color: gray;
    border: 0.052vw solid black;
  }

#stage-list li {
    width: 0.625vw;
    border-radius: 0.9vw;
  }

  .current-stage {
    background-color: rgb(0, 91, 156); /* Set the desired background color */
    color: white; /* Set the text color to white */
    padding: 0.5vw;
    transition: transform 0.3s ease-in-out; /* Add transition property for the animation effect */
  }
  
  .current-stage.new-stage {
    transform: scale(1.2); /* Set the initial scale value for the pop-up effect */
  }

  #resultArea {
    font-size: larger;
  }
  
  /*  - - - - - - - - --    - - --  - - - - - - - - - - - -*/

  .quest-container{
    display: flex;
    position: absolute;
    left: 3vw;
    top: 1vw;
    width: 18vw;
    scale: 85%;
    background-color: #272727;
    padding-bottom: 1.041vw;
    border-radius: 2vw;
  }

  #quest-tracker {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.041vw;
  }

 #line-tracker {
  position: absolute;
  left: 1.6vw;
  top: 1.7vw;
  z-index: -10;
    width: 20.83vw;
    display: flex;
    flex-direction: row;
    
  }
  
  .quest-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    background-color: rgb(78, 180, 214);
    margin: 0 1.041vw;
    flex-shrink: 0; /* Prevents shrinking of circles */
  }
  
  .quest-line {
    display: flex;
    margin: 0 0.52vw;
    width: 0%;
    height:  0.10vw;
    background-color:rgb(78, 180, 214);
    position: relative;
    overflow: hidden;
  }
  
  .quest-line.completed {
    animation: loadingAnimation 2s linear forwards;
  }
  
  @keyframes loadingAnimation {
    0% {
      width: 0;
    }
    100% {
      width: 2.60vw;
    }
  }

  /* - - - - -  Character - - - - - - - --  */

#characterImageContainer {
  position: absolute;
  z-index: 15;
  left: -33vw;
  bottom: 23.65vw;
  scale: 65%;
  transition: left 0.5s ease;
  cursor: url('../images/cursor/Normal.gif'), default;
}

.character-animation {
  animation-name: character-animation;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 0.8s;
}

@keyframes character-animation {
  0% {
    left: -33vw;
    bottom: 23.65vw;
  }
  100% {
    left: 33vw;
    bottom: 23.65vw;
  }
}


#laptop {
  position: absolute;
  z-index: 50;
  height: 9.8vw;
  top: 3.5vw;
  left: 6.5vw;
  cursor: url('../images/cursor/Normal.gif'), default;
}

#characterImage {
  position: absolute;
  z-index: 10;
  top: -16vw;
  left: 0vw;
  z-index: 20;
  height: 30vw;
  width: 30vw;
  padding: 0vw;
  border: transparent;
  clip-path: polygon(30% 5%, 62% 0, 100% 100%, 0 100%);
  cursor: url('../images/cursor/Normal.gif'), default;
}

/* - - - - - - -- - wall lines animation - - - - - -- - - - - - */
.logo-wrap {
  position: absolute;
  z-index: -99;
  top: -43.7vw;
  left: -0.046875vw;
  height: 130vw;
  width: 145.3vw;
  filter: drop-shadow(0 0 0.2604166666666667vw rgba(18, 192, 255, 0.5));
  margin-bottom: 0px;
  overflow: hidden;
}

 svg .svg-elem-1 {
  stroke-dashoffset: 772.7916463216146vw;
  stroke-dasharray: 772.7916463216146vw;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
          transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
}

svg.active .svg-elem-1 {
  stroke-dashoffset: 0;
}

svg .svg-elem-2 {
  stroke-dashoffset: 748.4616088867188vw;
  stroke-dasharray: 748.4616088867188vw;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s;
          transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s;
}

svg.active .svg-elem-2 {
  stroke-dashoffset: 0;
}

svg .svg-elem-3 {
  stroke-dashoffset: 83.89081319173177vw;
  stroke-dasharray: 83.89081319173177vw;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s;
          transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s;
}

svg.active .svg-elem-3 {
  stroke-dashoffset: 0;
}

svg .svg-elem-4 {
  stroke-dashoffset: 54.70297495524088vw;
  stroke-dasharray: 54.70297495524088vw;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s;
          transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s;
}

svg.active .svg-elem-4 {
  stroke-dashoffset: 0;
}

svg .svg-elem-5 {
  stroke-dashoffset: 54.26856358846029vw;
  stroke-dasharray: 54.26856358846029vw;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s;
          transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s;
}

svg.active .svg-elem-5 {
  stroke-dashoffset: 0;
}

svg .svg-elem-6 {
  stroke-dashoffset: 518.294932047526vw;
  stroke-dasharray: 518.294932047526vw;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s;
          transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s;
}

svg.active .svg-elem-6 {
  stroke-dashoffset: 0;
}

svg .svg-elem-7 {
  stroke-dashoffset: 195.62992095947266vw;
  stroke-dasharray: 195.62992095947266vw;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s;
          transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s;
}

svg.active .svg-elem-7 {
  stroke-dashoffset: 0;
}

svg .svg-elem-8 {
  stroke-dashoffset: 292.47446695963544vw;
  stroke-dasharray: 292.47446695963544vw;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s;
          transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s;
}

svg.active .svg-elem-8 {
  stroke-dashoffset: 0;
}

svg .svg-elem-9 {
  stroke-dashoffset: 307.16102600097656vw;
  stroke-dasharray: 307.16102600097656vw;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s;
          transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s;
}

svg.active .svg-elem-9 {
  stroke-dashoffset: 0;
}

svg .svg-elem-10 {
  stroke-dashoffset: 46.44330660502116vw;
  stroke-dasharray: 46.44330660502116vw;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s;
          transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s;
}

svg.active .svg-elem-10 {
  stroke-dashoffset: 0;
}

svg .svg-elem-11 {
  stroke-dashoffset: 45.582275390625vw;
  stroke-dasharray: 45.582275390625vw;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s;
          transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s;
}

svg.active .svg-elem-11 {
  stroke-dashoffset: 0;
}

svg .svg-elem-12 {
  stroke-dashoffset: 142.1490732828776vw;
  stroke-dasharray: 142.1490732828776vw;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3199999999999998s;
          transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3199999999999998s;
}

svg.active .svg-elem-12 {
  stroke-dashoffset: 0;
}

svg .svg-elem-13 {
  stroke-dashoffset: 142.99065907796225vw;
  stroke-dasharray: 142.99065907796225vw;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.44s;
          transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.44s;
}

svg.active .svg-elem-13 {
  stroke-dashoffset: 0;
}

svg .svg-elem-14 {
  stroke-dashoffset: 99.74535624186198vw;
  stroke-dasharray: 99.74535624186198vw;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.56s;
          transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.56s;
}

svg.active .svg-elem-14 {
  stroke-dashoffset: 0;
}

svg .svg-elem-15 {
  stroke-dashoffset: 256.98875427246094vw;
  stroke-dasharray: 256.98875427246094vw;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.68s;
          transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.68s;
}

svg.active .svg-elem-15 {
  stroke-dashoffset: 0;
}

svg .svg-elem-16 {
  stroke-dashoffset: 412.303466796875vw;
  stroke-dasharray: 412.303466796875vw;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7999999999999998s;
          transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7999999999999998s;
}

svg.active .svg-elem-16 {
  stroke-dashoffset: 0;
}

svg .svg-elem-17 {
  stroke-dashoffset: 292.4060312906901vw;
  stroke-dasharray: 292.4060312906901vw;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.92s;
          transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.92s;
}

svg.active .svg-elem-17 {
  stroke-dashoffset: 0;
}

svg .svg-elem-18 {
  stroke-dashoffset: 104.69034194946289vw;
  stroke-dasharray: 104.69034194946289vw;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 2.04s;
          transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 2.04s;
}

svg.active .svg-elem-18 {
  stroke-dashoffset: 0;
}

svg .svg-elem-19 {
  stroke-dashoffset: 314.0977478027344vw;
  stroke-dasharray: 314.0977478027344vw;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 2.16s;
          transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 2.16s;
}

svg.active .svg-elem-19 {
  stroke-dashoffset: 0;
}

svg .svg-elem-20 {
  stroke-dashoffset: 169.53044891357422vw;
  stroke-dasharray: 169.53044891357422vw;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 2.28s;
          transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 2.28s;
}

svg.active .svg-elem-20 {
  stroke-dashoffset: 0;
}

svg .svg-elem-21 {
  stroke-dashoffset: 170.91594696044922vw;
  stroke-dasharray: 170.91594696044922vw;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4s;
          transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4s;
}

svg.active .svg-elem-21 {
  stroke-dashoffset: 0;
}

svg .svg-elem-22 {
  stroke-dashoffset: 156.9104258219401vw;
  stroke-dasharray: 156.9104258219401vw;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 2.52s;
          transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 2.52s;
}

svg.active .svg-elem-22 {
  stroke-dashoffset: 0;
}
